PORT=3000

# Prisma Database Connection
# Đảm bảo thay [YOUR-PASSWORD] bằng mật khẩu thực tế của bạn
# VÀ đảm bảo mã hóa URL các ký tự đặc biệt (ví dụ @ thành %40, # thành %23)
DATABASE_URL="postgresql://postgres:Chiimdi0509@@db.kggqkbxjkknqfgrfagwn.supabase.co:5432/postgres" 