PORT=3000

# Supabase credentials - đây là cách được khuyến nghị để kết nối đến Supabase
SUPABASE_URL=https://kggqkbxjkknqfgrfagwn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnZ3FrYnhqa2tucWZncmZhZ3duIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4MzU4OTMsImV4cCI6MjA2MTQxMTg5M30.BmVbVVLv6CzQ3g52YNtFGZujU3rpiXORuUIWqNImYlg

# Prisma Database Connection (chỉ hoạt động trong môi trường production hoặc khi có IP được whitelist)
# Thay [YOUR-PASSWORD] bằng mật khẩu thực của bạn
# URL kết nối qua connection pooling (để sử dụng với Prisma)
DATABASE_URL="postgresql://postgres.kggqkbxjkknqfgrfagwn:Chiimdi0509%40@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Kết nối trực tiếp (sử dụng cho migrations)
DIRECT_URL="postgresql://postgres.kggqkbxjkknqfgrfagwn:Chiimdi0509%40@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres" 